{% extends 'base.html'  %}



{% block title %}
    Inspiration 
{% endblock %}



{% block content %}
<h3>Available Products</h3>

<div class="container-fluid">
    
    <div class="row">
        <!-- <img src="zorvepeter.jpg" alt=""> -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="card w-100"  style="width: 10rem">
                <img src="C:\Users\zorve\OneDrive\Desktop\images_dribble\assets\img_1.jpeg" class="card-img-top" alt="Image will display here">
                    <div class="card-body">
                        <h5 class="card-title">Skyscanner</h5>
                        <p class="card-text">We take you anywhere you want to travel to</p>
                        <a  href="https://www.skyscanner.fi/?%3D=&associateID=SEM_GGF_19370_00030&associateid=AFF_TRA_19354_00001&gclid=Cj0KCQjw5ZSWBhCVARIsALERCvxXY7poYxhEQvCZmufDOyYZ2euZiZp_x4Bem69RIHhd5lsYygU5sogaAmSjEALw_wcB&gclsrc=aw.ds&irclickid=_3yszefjggskft3k6kk0sohz3x32xortrchjqilun00&irgwc=1&previousCultureSource=COOKIE&redirectedFrom=www.skyscanner.net&utm_campaign=XY-Flights-Search-EN-DSA&utm_medium=cpc&utm_source=google&utm_term=DYNAMIC+SEARCH+ADS" 
                            class="btn btn-primary"
                            target="_blank">Products 1
                        </a>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="card w-100" style="width: 10rem;">
                <img src="assets\img_8.jpeg" class="card-img-top" alt="Image will display here">
                    <div class="card-body">
                        <h5 class="card-title">Momondo</h5>
                        <p class="card-text">We take you anywhere you want to travel to</p>
                        <a  href="https://www.momondo.fi/?lang=fi&skipapp=true&gclid=Cj0KCQjw5ZSWBhCVARIsALERCvxWRIs37aWLa6RB1pq3vWIYfSCuVbrBDHxiO4bsJFG5BHAtLyaQbZUaAv2NEALw_wcB" 
                            class="btn btn-primary"
                            target="_blank">Products 2 </a>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="card w-100" style="width: 10rem;">
                <img src="assets\img_8.jpeg" class="card-img-top" alt="Image will display here">
                    <div class="card-body">
                        <h5 class="card-title">KAYAK</h5>
                        <p class="card-text">We take you anywhere you want to travel to</p>
                        <a  href="https://www.kayak.com/flights" 
                            class="btn btn-primary"
                            target="_blank">Products 3</a>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="card w-100" style="width: 10rem;">
                <img src="images_dribble\assets\img_8.jpeg" class="card-img-top" alt="Image will display here">
                    <div class="card-body">
                        <h5 class="card-title">CheapOair</h5>
                        <p class="card-text">We take you anywhere you want to travel to</p>
                        <a href="https://www.google.com/search?client=firefox-b-d&q=cheap+flights" 
                            class="btn btn-primary"
                            target="_blank">Products 4</a>
                    </div>
            </div>
        </div>           
    </div>

    <style>
        .card {
                margin: 30px;
                }
    
        h3 { color: black;
             margin: 30px;
            }
        
        .btn {
                color: black;
                background-color: rgb(78, 229, 242);
                align-items: center;
                align-self: center;
                align-content: center;
                border-color: black;
                border-style: double;
                border-radius: 10px;
             } 
    
        .card-text {
            color: black;
        }
    </style>

{% endblock %}

